APP_CONTAINER_NAME=
APP_HOST_PORT=
PORT=

MONGO_CONTAINER_NAME=
MONGO_HOST_PORT=
MONGO_URI=

REDIS_CONTAINER_NAME=
REDIS_HOST_PORT=
REDIS_HOST=
REDIS_PORT=
STOCK_CATALOGUE_CACHE_TTL_SECONDS=
STOCK_PRICE_CACHE_TTL_SECONDS=
PORTFOLIO_SUMMARY_CACHE_TTL_SECONDS=

EMAIL=
EMAIL_PASS=
JWT_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
